body {
    display: flex;
    background: color #bdd4e7;
}

*{
    font-family: 'Dosis'
}

h1 {
    background-color: #8693ab;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001b2e;
}

footer {
    background-color: #8693ab;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:small;
}

.button {
    font-size: 24px;
    padding: 10px 50px;
    width: 15em;
    background-image: linear-gradient(
        35deg,
        #8693ab 15% 25%,
        #bdd4e7 85% 100%
    );
    background-size: 200%;
    border-radius: 1rem;
}

.button:hover{
    background-position: 100%;
}

.login{
    background-color: #bdd4e7;
    align-self: center;
    padding: 10px 50px;
    width: 50vw;
    text-align: center;
}

.login:hover{
    background-image: linear-gradient(
        35deg,
        #8693ab 15% 25%,
        #bdd4e7 85% 100%
    );
}

.other:hover{
    border-color: #8693ab;
}

.signin{
    text-align: center;
    border: 5px;
    border-color: #001b2e;
    border-style: solid;
    width: 97vw;
}

.nav{
    text-align: center;
    width: 100vw;
}
  
li, li a{
    color: #001b2e;
    text-decoration: none;
    list-style-type:none;
}
  
*{
    font-family: 'Dosis'
}

a:hover{
    color: #8693ab;
}
  
nav li{
    display: inline-block;
    height: 100%;
    width: 10%;
}