body{
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom left, #bdd4e7 50%, #001b2e 50%);
    width: 98vw;
}

.box{
    width: 400px;
    height: 380px;
    background-color: #fefefe;
    margin: 200px;
}

.nav{
    text-align: center;
    width: 100vw;
    list-style-type: none;
    text-decoration: none;
}
  
li, li a{
    color: #001b2e;
    text-decoration: none;
    list-style-type:none;
}
  
*{
    font-family: 'Dosis'
}
  
li:hover{
    color: #8693ab
}
    
li a:hover{
    text-decoration-color: #8693ab;
}
  
nav ul{
    margin-left: auto;
    margin-right: auto;
}
  
nav li{
    display: inline-block;
    height: 100%;
    width: 10%;
}